* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; This lead to not able to response*/
}
.filler-words {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    background: #eee;
    margin: 1em auto;
}

.app-container{
    width: 80%;
}

.analysis {
    background-color: white;
    border-radius: 20px;
    padding: 2em;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.35);
}


.filler-words-container {
    display: flex;
    width: 100%;
    margin: 0 10%;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.filler-words-container-column{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.page-title h4{
    font-size: 20px;
    font-style: normal;
    font-family: var(--font-title);
}

.app-container input{
    width: 100%;
    margin: 1em 0;
    padding: 2em;
    border-radius: 10px;
    border: none;
    background: #ffffff;
}
.app-container input:focus {
    border-color: transparent; /* Set the border color to transparent when focused */
    outline: none; /* Remove the default focus outline */
  }

@media screen and (min-width: 768px){

    .filler-words{
        max-width: 950px;
    }
    .filler-words-container .word-block div {
        flex-grow: 0;
        width: 100%;
        height: 100%;
    }

}