@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

:root{
--font-title: 'Poppins', serif;
--color-vivid-sky-blue: #00C4F5;
--color-midnight-green: #004E64;
--color-midnight-green: #002029;
--color-robin-egg-blue: #50D2CD;
--color-nyanza: #D6FFE9;
--color-aquamarine: #81D8BC;
--color-turquoise: #62D0AD;
--color-persian-green: #25A18E;
--color-light-green: #86E78D;
}